body {
	margin: 0;
	color: white;
	font-family: "Nunito";
	background-attachment: fixed;
	background-size: 110% auto;
}

#main {
	background-color: #333;
	margin-top: 23%;
	padding-bottom: 35%;
}

/*Nav bar*/
ul {
  	list-style-type: none;
  	margin: 0;
  	padding: 0;
  	overflow: hidden;
  	background-color: #262626;
}

li {
  	float: left;
}

li a {
  	display: block;
  	color: white;
  	text-align: center;
  	padding: 16px 18px;
	font-size: 25px;
	transition-duration: 0.4s;
  	text-decoration: none;
}

li a:hover:not(.here) {
  	background-color: #8C6179;
}

#last {
	float: right;
	margin-right: 15px;
}

.here {
	background-color: #1C31A6;
}
/*~*/

footer {
	background-color: #0D1826;
	padding: 25px 25px 45px 0;
	text-align: right;
	color: #F29E6D;
}

div p a {
	color: #F29E6D;
	text-decoration: none;
}

div p a:hover {
	text-decoration: underline;
}

div p {
	margin: 100px 300px 50px 100px;
	font-size: 25px;
}