body {
	color: white;
	background-color: #262626;
	font-size: 25px;
}

/*
footer {
	background-color: #0D1826;
	padding: 25px 25px 45px 0;
	text-align: right;
	color: #F29E6D;
}
*/

a {
	color: #F29E6D;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

input {
	background-color: #111;
	border: none;
	color: #EFEFEF;
	font-size: 23px;
}

button {
	background-color: #000;
	border: none;
	color: #EFEFEF;
	font-size: 27px;
	padding: 15px 30px;
}